.chat {
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-search-container {
  padding: 0.5rem 1.5rem;
}

.chat-search-bar {
  padding: 0.4rem 2rem;
  border-radius: 5rem;
  background-image: url("search-icon.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px 6px;
  border: none;
  outline: none;
}

.chat-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border: 1px solid #eee;
}

.chat-avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.chat-info{
    font-size: 14px;
    border: 1px solid #eee;
}

.chat-last-message{
    font-size: 12px;
    color: #888;
}