body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-container {
  display: flex;
  flex: 1 1 auto;
}
