:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* default styles for form elements */
  --FORM-BG: #242424;
  --FORM-INPUT-BG: #333;
  --FORM-INPUT-FG: #fff;
  --FORM-BTN-BG: #555;
  --FORM-BTN-FG: #fff;
  --FORM-BTN-HOVER-BG: #666;
  --FORM-BTN-HOVER-FG: #fff;
  --FORM-SHADOW: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

#root {
  height: 100vh;
}
